:root { 
  --black: #000000;
  --international-klein-blue: #0536a8;
  --onyx: #383836;
  --white: #ffffff;
 
  --font-size-l: 31.6px;
  --font-size-m: 21px;
  --font-size-s: 20px;
  --font-size-xl: 43.8px;
  --font-size-xs: 16.7px;
  --font-size-xxl: 55px;
  --font-size-xxs: 12.1px;
 
  --font-family-lato: "Lato", Helvetica;
  --font-family-manrope: "Manrope", Helvetica;
}
.manrope-light-white-20px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.lato-bold-black-55px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-onyx-21px {
  color: var(--onyx);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
