.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #ffffff;
  border: 0.99px none;
  height: 3796px;
  position: relative;
  width: 1201px;
}

.index .overlap {
  height: 447px;
  left: 64px;
  position: absolute;
  top: 144px;
  width: 1035px;
}

.index .rectangle {
  height: 447px;
  left: 523px;
  position: absolute;
  top: 0;
  width: 512px;
}

.index .group-2 {
  height: 404px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 693px;
}

.index .text-wrapper {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 59.8px;
  font-weight: 700;
  left: 0;
  letter-spacing: 2.39px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 599px;
}

.index .element-languages-that {
  color: #383836;
  font-family: "Lato", Helvetica;
  font-size: 21.5px;
  font-weight: 700;
  height: 130px;
  left: 0;
  letter-spacing: 0.65px;
  line-height: 43.1px;
  position: absolute;
  top: 181px;
  width: 689px;
}

.index .group-instance {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 0 !important;
  position: absolute !important;
  top: 348px !important;
  width: 329px !important;
}

.index .group-2-instance {
  font-size: 20.5px !important;
  left: 62px !important;
  letter-spacing: 1.03px !important;
  line-height: 13.3px !important;
  width: 205px !important;
}

.index .p {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37.7px;
  font-weight: 700;
  left: 248px;
  letter-spacing: 1.51px;
  line-height: normal;
  position: absolute;
  top: 736px;
  width: 706px;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37px;
  font-weight: 700;
  left: 188px;
  letter-spacing: 1.48px;
  line-height: normal;
  position: absolute;
  top: 1215px;
  width: 853px;
}

.index .zapier-png {
  height: 70px;
  left: 102px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.index .abbott-png {
  height: 70px;
  left: 102px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.index .zf-png {
  height: 70px;
  left: 230px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.index .anton-paar-png {
  height: 70px;
  left: 230px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.index .crowdin-png {
  height: 70px;
  left: 358px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.index .img {
  height: 70px;
  left: 358px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.index .cloudwords-png {
  height: 70px;
  left: 486px;
  position: absolute;
  top: 837px;
  width: 101px;
}

.index .rectangle-2 {
  height: 70px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.index .rectangle-3 {
  height: 79px;
  left: 614px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 111px;
}

.index .rectangle-4 {
  height: 70px;
  left: 614px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 101px;
}

.index .rectangle-5 {
  height: 70px;
  left: 742px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 101px;
}

.index .evoltz-png {
  height: 70px;
  left: 742px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.index .rectangle-6 {
  height: 70px;
  left: 864px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 107px;
}

.index .jungheinrich-png {
  height: 70px;
  left: 870px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.index .rectangle-7 {
  height: 70px;
  left: 984px;
  object-fit: cover;
  position: absolute;
  top: 837px;
  width: 115px;
}

.index .shopee-png {
  height: 70px;
  left: 998px;
  position: absolute;
  top: 953px;
  width: 101px;
}

.index .overlap-group {
  background-image: url(../../../static/img/rectangle-19.svg);
  background-size: 100% 100%;
  height: 139px;
  left: 64px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.index .text-wrapper-3 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 51px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 99px;
  white-space: nowrap;
}

.index .law {
  height: 38px;
  left: 57px;
  position: absolute;
  top: 31px;
  width: 38px;
}

.index .overlap-2 {
  background-image: url(../../../static/img/rectangle-19.svg);
  background-size: 100% 100%;
  height: 139px;
  left: 64px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.index .media-films {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 95px;
  white-space: nowrap;
}

.index .next {
  height: 38px;
  left: 57px;
  position: absolute;
  top: 28px;
  width: 38px;
}

.index .overlap-3 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 248px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.index .text-wrapper-4 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 37px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.index .img-2 {
  height: 38px;
  left: 56px;
  position: absolute;
  top: 27px;
  width: 38px;
}

.index .overlap-4 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 248px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.index .text-wrapper-5 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.index .overlap-5 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 432px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.index .text-wrapper-6 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 4px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.index .overlap-6 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 432px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.index .text-wrapper-7 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 19px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.index .overlap-7 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 616px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.index .text-wrapper-8 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.index .money-bag-pounds {
  height: 38px;
  left: 49px;
  position: absolute;
  top: 27px;
  width: 38px;
}

.index .overlap-8 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 616px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.index .text-wrapper-9 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 102px;
  white-space: nowrap;
}

.index .overlap-9 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 800px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.index .overlap-10 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 800px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.index .text-wrapper-10 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.index .overlap-11 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 984px;
  position: absolute;
  top: 1317px;
  width: 152px;
}

.index .overlap-12 {
  border: 1px solid;
  border-color: #c8982a;
  height: 139px;
  left: 984px;
  position: absolute;
  top: 1524px;
  width: 152px;
}

.index .text-wrapper-11 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  top: 98px;
  white-space: nowrap;
}

.index .text-wrapper-12 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37.7px;
  font-weight: 700;
  left: 365px;
  letter-spacing: 1.51px;
  line-height: normal;
  position: absolute;
  top: 2591px;
  width: 468px;
}

.index .text-wrapper-13 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 129px;
  letter-spacing: 0.8px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 2736px;
  width: 939px;
}

.index .overlap-13 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 64px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.index .document-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 106px;
}

.index .img-3 {
  height: 38px;
  left: 49px;
  position: absolute;
  top: 38px;
  width: 38px;
}

.index .overlap-group-2 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 252px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.index .marketing-material {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 21px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 93px;
}

.index .overlap-14 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 440px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.index .website-apps {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 35px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 77px;
}

.index .overlap-15 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 628px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.index .text-wrapper-14 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 29px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 97px;
}

.index .overlap-16 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 816px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.index .text-wrapper-15 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 117px;
}

.index .overlap-17 {
  border: 1px solid;
  border-color: #c8982a;
  height: 205px;
  left: 999px;
  position: absolute;
  top: 2851px;
  width: 138px;
}

.index .text-wrapper-16 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0.68px;
  line-height: normal;
  position: absolute;
  top: 99px;
  width: 117px;
}

.index .biotech {
  height: 38px;
  left: 41px;
  position: absolute;
  top: 38px;
  width: 38px;
}

.index .design-component-instance-node {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 1739px !important;
  width: 329px !important;
}

.index .group-3 {
  border-radius: 28.16px !important;
  height: 56px !important;
  left: 433px !important;
  position: absolute !important;
  top: 3139px !important;
  width: 329px !important;
}

.index .our-growth-would-not {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 117px;
  letter-spacing: 0.64px;
  line-height: 26.4px;
  position: absolute;
  text-align: center;
  top: 2310px;
  width: 285px;
}

.index .text-wrapper-17 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 455px;
  letter-spacing: 0.64px;
  line-height: 26.2px;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: 285px;
}

.index .we-are-a-german {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 791px;
  letter-spacing: 0.64px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 2309px;
  width: 285px;
}

.index .span {
  line-height: 21.4px;
}

.index .text-wrapper-18 {
  line-height: 26.2px;
}

.index .text-wrapper-19 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 37px;
  font-weight: 700;
  left: 330px;
  letter-spacing: 1.48px;
  line-height: normal;
  position: absolute;
  top: 1916px;
  width: 537px;
}

.index .every-translation {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 201px;
  letter-spacing: 0.8px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 1994px;
}

.index .text-wrapper-20 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 200px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.index .text-wrapper-21 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 562px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.index .text-wrapper-22 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 872px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2240px;
  white-space: nowrap;
}

.index .text-wrapper-23 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 189px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.index .text-wrapper-24 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 548px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.index .text-wrapper-25 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 848px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 2202px;
  white-space: nowrap;
}

.index .ellipse {
  height: 84px;
  left: 211px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 84px;
}

.index .ellipse-2 {
  height: 84px;
  left: 555px;
  object-fit: cover;
  position: absolute;
  top: 2090px;
  width: 84px;
}

.index .ellipse-3 {
  height: 84px;
  left: 920px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 84px;
}

.index .star {
  height: 19px !important;
  left: 188px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-16 {
  height: 19px !important;
  left: 529px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-16-instance {
  height: 19px !important;
  left: 864px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .icon-instance-node {
  height: 19px !important;
  left: 218px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-2 {
  height: 19px !important;
  left: 559px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-3 {
  height: 19px !important;
  left: 894px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-4 {
  height: 19px !important;
  left: 248px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-5 {
  height: 19px !important;
  left: 589px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-6 {
  height: 19px !important;
  left: 924px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-7 {
  height: 19px !important;
  left: 278px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-8 {
  height: 19px !important;
  left: 619px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-9 {
  height: 19px !important;
  left: 954px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-10 {
  height: 19px !important;
  left: 308px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-11 {
  height: 19px !important;
  left: 649px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .star-12 {
  height: 19px !important;
  left: 984px !important;
  position: absolute !important;
  top: 2476px !important;
  width: 23px !important;
}

.index .magma-translation {
  height: 54px;
  left: 64px;
  position: absolute;
  top: 40px;
  width: 194px;
}

.index .text-wrapper-26 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 189px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  text-align: center;
  top: 3503px;
  width: 816px;
}

.index .text-wrapper-27 {
  color: #000000;
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 377px;
  letter-spacing: 0.72px;
  line-height: 29.7px;
  position: absolute;
  top: 3617px;
  white-space: nowrap;
  width: 444px;
}

.index .magma-translation-2 {
  height: 54px;
  left: 500px;
  position: absolute;
  top: 3379px;
  width: 194px;
}
